.background{
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        right: -100%;
        top: 0;
        width: 100%;
        height: 800px;
        animation: blackhole 60s linear forwards;
        z-index: 2;
        opacity: 0.15;
    }
    .universe{
        width: 100%;
        height: 800px;
        background: url(../images/universe.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        z-index: 1;
        .sun{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 160px;
            height: 160px;
            background: url(../images/sun.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            clip-path: circle(50% at 50% 50%);
        }
        .solarsystem{
            width: 1200px;
            height: 780px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .pluto-ecliptic{
                width: 750px;
                height: 750px;
                border: 2px solid #5a7383;
                border-radius: 50%;
                position: relative;
                animation: eclipticCircle 1022s linear infinite;
                display: flex;
                align-items: center;
                justify-content: center;
                .pluto{
                    position: absolute;
                    top: 5%;
                    left: 26%;
                    width: 10px;
                    height: 10px;
                    background: url(../images/pluto.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    clip-path: circle(50% at 50% 50%);
                }
                .neptune-ecliptic{
                    width: 710px;
                    height: 710px;
                    border: 2px solid #5a7383;
                    border-radius: 50%;
                    position: relative;
                    animation: eclipticCircle 900s linear infinite;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .neptune{
                        position: absolute;
                        top: 5%;
                        left: 21.5%;
                        width: 32px;
                        height: 32px;
                        background: url(../images/neptun.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        clip-path: circle(50% at 50% 50%);
                    }
                    .uranus-ecliptic{
                        width: 640px;
                        height: 640px;
                        border: 2px solid #5a7383;
                        border-radius: 50%;
                        position: relative;
                        animation: eclipticCircle 800s linear infinite;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .uranus{
                            position: absolute;
                            top: 5%;
                            left: 21%;
                            width: 33px;
                            height: 33px;
                            background: url(../images/uranus.jpg);
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            clip-path: circle(50% at 50% 50%);
                        }
                        .saturn-ecliptic{
                            width: 570px;
                            height: 570px;
                            border: 2px solid #5a7383;
                            border-radius: 50%;
                            position: relative;
                            animation: eclipticCircle 700s linear infinite;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .saturn{
                                position: absolute;
                                top: 5%;
                                left: 13%;
                                width: 80px;
                                height: 58px;
                                background-image: url(../images/saturn2.jpg);
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                                clip-path: ellipse(49% 35% at 50% 50%);
                            }
                            .jupiter-ecliptic{
                                width: 470px;
                                height: 470px;
                                border: 2px solid #5a7383;
                                border-radius: 50%;
                                position: relative;
                                animation: eclipticCircle 723s linear infinite;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .jupiter{
                                    position: absolute;
                                    top: 5%;
                                    left: 11%;
                                    width: 65px;
                                    height: 65px;
                                    background: url(../images/jupiter.jpg);
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    clip-path: circle(50% at 50% 50%);
                                }
                                .mars-ecliptic{
                                    width: 370px;
                                    height: 370px;
                                    border: 2px solid #5a7383;
                                    border-radius: 50%;
                                    position: relative;
                                    animation: eclipticCircle 600s linear infinite;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    .mars{
                                        position: absolute;
                                        top: 5%;
                                        left: 21%;
                                        width: 18px;
                                        height: 18px;
                                        background: url(../images/mars.jpg);
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        filter: saturate(130%) brightness(150%);
                                        clip-path: circle(50% at 50% 50%);
                                    }
                                    .earth-ecliptic{
                                        width: 290px;
                                        height: 290px;
                                        border: 2px solid #5a7383;
                                        border-radius: 50%;
                                        position: relative;
                                        animation: eclipticCircle 365s linear infinite;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        .earth-line{
                                            width: 39px;
                                            height: 39px;
                                            border-radius: 50%;
                                            position: absolute;
                                            top: 5%;
                                            left: 10%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            animation: eclipticCircle 20s linear infinite;
                                            .moon{
                                                position: absolute;
                                                top: 5%;
                                                left: -3%;
                                                width: 10px;
                                                height: 10px;
                                                background: url(../images/moon.jpg);
                                                background-size: cover;
                                                background-repeat: no-repeat;
                                                background-position: center;
                                                filter: saturate(150%) contrast(150%) brightness(120%);
                                                clip-path: circle(50% at 50% 50%);
                                            }
                                            .earth{
                                                width: 28px;
                                                height: 28px;
                                                background: url(../images/earth.jpg);
                                                background-size: cover;
                                                background-repeat: no-repeat;
                                                background-position: center;
                                                filter: saturate(150%) contrast(150%) brightness(120%);
                                                border-radius: 50%;
                                                animation: earthCircle 20s linear infinite;
                                            }
                                        }
                                        .venus-ecliptic{
                                            width: 230px;
                                            height: 230px;
                                            border: 2px solid #5a7383;
                                            border-radius: 50%;
                                            position: relative;
                                            animation: eclipticCircle 219s linear infinite;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            .venus{
                                                position: absolute;
                                                top: 5%;
                                                left: 14%;
                                                width: 25px;
                                                height: 25px;
                                                background: url(../images/venus.jpg);
                                                background-size: cover;
                                                background-repeat: no-repeat;
                                                background-position: center;
                                                clip-path: circle(50% at 50% 50%);
                                            }
                                            .mercury-ecliptic{
                                                width: 190px;
                                                height: 190px;
                                                border: 2px solid #4b6271;
                                                border-radius: 50%;
                                                position: relative;
                                                animation: eclipticCircle 73s linear infinite;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                .mercury{
                                                    position: absolute;
                                                    top: 5%;
                                                    left: 17%;
                                                    width: 14px;
                                                    height: 14px;
                                                    background: url(../images/mercury.jpg);
                                                    background-size: cover;
                                                    background-repeat: no-repeat;
                                                    background-position: center;
                                                    clip-path: circle(50% at 50% 50%);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@keyframes eclipticCircle{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}
@keyframes earthCircle{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
@keyframes blackhole{
    from{
        right: -100%;
    }
    to{
        right: 0;
    }
}